.spe-vid {
    background-color: #ffffff43;
}

@media screen and (max-width: 768px) {
  #spoken-english-heading {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 10px;
  }
  .spe-vid {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .spe-vid details {
    width: 100%;
    max-width: 500px;
  }
  .spe-vid video {
    width: 100%;
    height: auto;
  }
}